{% extends 'base.html' %}
{% block title %}
<style>
	#hint_id_new_password1{
		display: none;
	}
	#changeImg img{
		margin: 30px 0;
		width: 360px;
		height: 220px;
	}
	#changeTitle{
		font-weight: bold;
		margin-bottom: 20px;
	}
	#changeBtn{
        border: 0;
		background: none;
		display: block;
		margin: 10px auto;
		text-align: center;
		border: 2px solid #eb2f06;
		padding: 10px 40px;
		outline: none;
		color: #000;
		font-weight: bold;
		border-radius: 24px;
		transition: 0.25s;
		cursor: pointer;
    }
    #changeBtn:hover{
        background-color: #eb2f06;
		color: #f1f1f1;
    }
    #changeBtn:active{
        transform: scale(0.95);
    }
</style>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="main-container fullscreen">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-5 col-lg-6 col-md-7">
				<div class="text-center">
					<div id='changeImg'>
						<img src='/static/change1.gif/'> 
					</div>
					<h2 id='changeTitle'>Change Password	&#x1f512;</h2>
					<form method="POST">
						{% csrf_token %}
						{{form|crispy}}
						<input id='changeBtn' type='submit' value='Save changes'>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}