{% extends 'base.html' %}
{% block title %}
<style>
    #resetImg img{
        background-size: cover;
        width: 300px;
        height: 300px;
        top: 0;
    }
    #sendBtn{
        border: 0;
		background: none;
		display: block;
		margin: 10px auto;
		text-align: center;
		border: 2px solid #16a085;
		padding: 10px 40px;
		outline: none;
		color: #000;
		font-weight: bold;
		border-radius: 24px;
		transition: 0.25s;
		cursor: pointer;
    }
    #sendBtn:hover{
        background-color: #16a085;
		color: #f1f1f1;
    }
    #sendBtn:active{
        transform: scale(0.95);
    }
</style>
{% endblock %}
{% block content %}

    <div class="main-container fullscreen">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-7">
                    <div class="text-center">
                        <div id='resetImg'>
                            <img src='/static/reset.jfif/'> 
                        </div>
                        <h1 class="h2">I forget my password&#x1f62B;</h1>
                        <p class="lead">Type your email adress for reset password</p>
                        <form method="POST" action="{% url 'password-reset-confirm' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Your Email Adress" name="email" required/>
                            </div>
                            <button id='sendBtn' role="button" type="submit">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}